body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.chart{
    padding-left: 20px;
    padding-top: 1px;
    margin: 1px;
}

h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}

input[type=number]{
    width:100px;
    margin:5px;
}